VITE_OPENAI_API_KEY=
VITE_OPENAI_API_MODEL=gpt-4.1
# The URL of your Face Vital API backend (e.g., https://your-backend.onrender.com)
VITE_FACE_VITAL_API_URL=https://services-api.a2zhealth.in/v1/face-vital
VITE_FACE_API_BASE=https://services-api.a2zhealth.in/v1/face-vital
